@import "tailwindcss";

@font-face {
  font-family: "Noyh";
  src: url("../noyh/Noyh-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noyh";
  src: url("../noyh/Noyh-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Noyh";
  src: url("../noyh/Noyh-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noyh";
  src: url("../noyh/Noyh-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Noyh";
  src: url("../noyh/Noyh-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noyh";
  src: url("../noyh/Noyh-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Noyh";
  src: url("../noyh/Noyh-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noyh";
  src: url("../noyh/Noyh-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Noyh";
  src: url("../noyh/Noyh-Heavy.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noyh";
  src: url("../noyh/Noyh-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noyh";
  src: url("../noyh/Noyh-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

html, body {
  font-family: "Noyh", system-ui, sans-serif;
}

:root {
  --font-sans: "Noyh", system-ui, sans-serif;
  --font-serif: "Noyh", system-ui, sans-serif;
}

@layer components {
  .page-shell {
    max-width: 92rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    width: 100%;
  }

  @media (min-width: 640px) {
    .page-shell {
      padding-left: 2.5rem;
      padding-right: 2.5rem;
    }
  }

  @media (min-width: 1024px) {
    .page-shell {
      padding-left: 4.25rem;
      padding-right: 4.25rem;
    }
  }

  @media (min-width: 1280px) {
    .page-shell {
      padding-left: 5.25rem;
      padding-right: 5.25rem;
    }
  }
}

@layer base {
  main p {
    font-size: 18px;
    line-height: 1.7;
  }

  @media (min-width: 640px) {
    main p {
      font-size: 19px;
    }
  }

  @media (min-width: 1024px) {
    main p {
      font-size: 20px;
    }
  }
}
